.navbar { 
  display: flex; 
  justify-content: space-between; 
  background: #4c749b57; 
  color: white; 
  padding: 1rem;
}

ul { 
  list-style: none; 
  display: flex; 
  gap: 1rem; 
  margin: 0; 
  padding: 0; 
}

a {
  color: #fff;
  margin-right: 1rem;
  text-decoration: none;
}
.active {
  font-weight: bold;
  text-decoration: underline;
}